.phone {
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var(--color-white);
    .phone-icon {
        padding: .825rem;
        border-radius: 50%;
        background-color: var(--color-yellow);
        svg {
            width: .75rem; height: .75rem;
        }
    }

}