.about-us {
    margin: 5rem auto;
    min-height: 50vh;
    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }
    p {
        text-align: center;
        line-height: 1.7rem;
        white-space: pre-line;
    }

    @media (max-width: 899px) {
        margin: 4rem 2rem;
    }

    @media (max-width: 600px) {
        margin: 3rem 1rem;
    }
}