.contact__hero-section {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    background-color: var(--color-blue);
    background-image: url("../../../public/images/hero-contact.png");
    background-size: cover;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    height: 35vh;
    isolation: isolate;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-blue);
        width: 100%; height: 100%;
        z-index: -1;
        opacity: .8;
    }

    .contact__hero-content {
        h1 {
            color: var(--color-white);
            margin-bottom: 6rem;
            font-size: 2.4rem;
            letter-spacing: .2rem;
        }
    }

    @media (max-width: 768px) {
        height: 25vh;

        .contact__hero-content {
            h1 {
                margin-bottom: 2.5rem;
                font-size: 2rem;
            }
        }
    }
}

/* Ana Bölüm */
.contact-section {
    margin: 3rem auto;
    text-align: center;
    min-height: 40vh;
    .contact-container {
        margin: 0 1rem;
        .contact-info-wrapper {
            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            .contact-details {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                margin-top: 3rem;

                .contact-item {
                    text-align: center;
                    justify-items: center;
                    align-content: center;
                    padding: 1rem 2rem;
                    border-radius: .5rem;
                    border: 1px solid var(--color-blue);

                    svg {
                        width: 2rem; height: 2rem;
                    }

                    .contact-item-title {
                        margin: 1rem 0;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @media (max-width: 899px) {
        .contact-container {
            .contact-info-wrapper {
                .contact-details {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}
